<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Ruby Detective</title>
    <link inline inline-asset="app\.\w+\.css$" inline-asset-delete>
    <link inline inline-asset="chunk-vendors\.\w+\.css$" inline-asset-delete>
    <script type="application/json" id="classes-data">
      <%= classes_data_as_json %>
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ruby-detective doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script inline inline-asset="app\.\w+\.js$" inline-asset-delete></script>
    <script inline inline-asset="chunk-vendors\.\w+\.js$" inline-asset-delete></script>
    <!-- built files will be auto injected -->
  </body>
</html>
